body{
background:#0b141a;
color:white;
font-family:sans-serif;
}

#messages{
height:400px;
overflow:auto;
border:1px solid #333;
padding:10px;
margin-bottom:10px;
}

.message{
background:#005c4b;
padding:8px;
margin:5px;
border-radius:8px;
}